<table>
  <thead>
    <tr>
        <th rowspan="2" scope="col">Wikidata</th>
        <th rowspan="2" scope="col">Name (abbreviation)</th>
        <th rowspan="2" scope="col">GeoJSON</th>
        <th colspan="8" scope="colgroup">Completion rate</th>
    </tr>
    <tr>
        <th scope="col"><code>start_date</code></th>
        <th scope="col"><code>building:flats</code></th>
        <th scope="col"><code>heating</code></th>
        <th scope="col"><code>architect</code></th>
        <th scope="col"><code>architect:renovation</code></th>
        <th scope="col"><code>building:levels</code></th>
        <th scope="col"><code>roof:levels</code></th>
        <th scope="col"><code>roof:shape</code></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<locals.length; i++) { -%>
        <% var name = locals[i].name + (locals[i].abbr ? ` (${locals[i].abbr})` : "") ; -%>
        <tr>
            <td>
                <% if (locals[i].wikidata) { -%>
                    <a href="https://www.wikidata.org/wiki/<%= locals[i].wikidata %>"><%= locals[i].wikidata %></a>
                <% } -%>
            </td>
            <td>
                <% if (locals[i].website) { -%>
                  <a href="<%= locals[i].website %>"><%= name %></a>
                <% } else { -%>
                    <%= name %>
                 <% } -%>
            </td>
            <td>
                <% if (locals[i].wikidata) { -%>
                    <a href="https://github.com/imagoiq/swiss-housing-cooperative/blob/main/output/identity/swiss_housing_cooperative_<%= locals[i].wikidata %>.geojson">GeoJSON</a> (<a href="https://github.com/imagoiq/swiss-housing-cooperative/blob/main/output/identity/swiss_housing_cooperative_<%= locals[i].wikidata %>.geojson.atom">RSS</a>)
                <% } -%>
            </td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_start_date_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"start_date\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_flats_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"building:flats\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_heating_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"heating\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_architect_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"architect\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_architect_renovation_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"architect:renovation\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_levels_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"building:levels\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_roof_levels_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"roof:levels\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_roof_shape_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"roof:shape\"]") -%></td>
        </tr>
    <% } -%>
  </tbody>
</table>
 <% function displayCompletionRate(rate, preciseQuery) { _%>
     <% if (rate === 100) { _%>
       ✅
     <% } else if(rate === null) { _%>
        N/A
     <% } else { _%>
         <a href="https://overpass-turbo.osm.ch/?Q=<%= encodeURIComponent(atob(query).replace(/\](?=[^\]]*$)/, "]" + preciseQuery)) _%>&R">
             <%= rate _%>%
         </a>
    <% } _%>
 <% } _%>

<% function getWikidataQueryPrefix(identityValues) { _%>
    <% if (identity === "owner") { _%>
        <% return identityValues["wikidata"] ? `["owner:wikidata"="${identityValues["wikidata"]}"]` : "" %>
    <% } else { _%>
        <% return identityValues["wikidata"] ? `["operator:wikidata"="${identityValues["wikidata"]}"]` : "" %>
    <% } _%>
<% } _%>
