<table>
  <thead>
    <tr>
        <th rowspan="2" scope="col">Wikidata</th>
        <th rowspan="2" scope="col"><%= lang === "fr" ? `Nom (abbréviation)` : 'Name (abbreviation)' %></th>
        <th colspan="8" scope="colgroup"><%= lang === "fr" ? `Pourcentage de complétion` : 'Completion rate' %></th>
    </tr>
    <tr>
        <th scope="col">`start_date`</th>
        <th scope="col">`building:flats`</th>
        <th scope="col">`heating`</th>
        <th scope="col">`architect`</th>
        <th scope="col">`architect:renovation`</th>
        <th scope="col">`building:levels`</th>
        <th scope="col">`roof:levels`</th>
        <th scope="col">`roof:shape`</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<locals.length; i++) { -%>
        <% var name = locals[i].name + (locals[i].abbr ? ` (${locals[i].abbr})` : "") ; -%>
        <tr>
            <td>
                <% if (locals[i].wikidata) { -%>
                    <a href="https://www.wikidata.org/wiki/<%= locals[i].wikidata %>"><%= locals[i].wikidata %></a>
                <% } -%>
            </td>
            <td>
                <% if (locals[i].website) { -%>
                  <a href="<%= locals[i].website %>"><%= name %></a>
                <% } else { -%>
                    <%= name %>
                 <% } -%>
            </td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_start_date_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"start_date\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_flats_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"building:flats\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_heating_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"heating\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_architect_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"architect\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_architect_renovation_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"architect:renovation\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_levels_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"building:levels\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_roof_levels_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"roof:levels\"]") -%></td>
            <td><%= displayCompletionRate(locals[i].completion_buildings_roof_shape_percentage, getWikidataQueryPrefix(locals[i]) + "[!\"roof:shape\"]") -%></td>
        </tr>
    <% } -%>
  </tbody>
</table>
 <% function displayCompletionRate(rate, preciseQuery) { _%>
     <% if (rate === 100) { _%>
       ✅
     <% } else if(rate === null) { _%>
        N/A
     <% } else { _%>
         <a href="https://overpass-turbo.osm.ch/?Q=<%= encodeURIComponent(atob(query).replace(/\](?=[^\]]*$)/, "]" + preciseQuery)) _%>&R">
             <%= rate _%>%
         </a>
    <% } _%>
 <% } _%>

<% function getWikidataQueryPrefix(identityValues) { _%>
    <% if (identity === "owner") { _%>
        <% return identityValues["wikidata"] ? `["owner:wikidata"="${identityValues["wikidata"]}"]` : "" %>
    <% } else { _%>
        <% return identityValues["wikidata"] ? `["operator:wikidata"="${identityValues["wikidata"]}"]` : "" %>
    <% } _%>
<% } _%>
