<table>
  <thead>
    <tr>
        <th rowspan="2" scope="col"><%= lang === "fr" ? `Nombre de coopératives` : 'Number of cooperative' %></th>
        <th rowspan="2" scope="col"><%= lang === "fr" ? `Nombre de bâtiments` : 'Number of buildings' %></th>
        <th colspan="8" scope="colgroup"><%= lang === "fr" ? `Pourcentage de complétion` : 'Completion rate' %></th>
    </tr>
    <tr>
        <th scope="col"><code>start_date</code></th>
        <th scope="col"><code>building:flats</code></th>
        <th scope="col"><code>heating</code></th>
        <th scope="col"><code>architect</code></th>
        <th scope="col"><code>architect:renovation</code></th>
        <th scope="col"><code>building:levels</code></th>
        <th scope="col"><code>roof:levels</code></th>
        <th scope="col"><code>roof:shape</code></th>
    </tr>
  </thead>
  <tbody>
        <tr>
            <td><%= locals.number_cooperative _%></td>
            <td><%= locals.number_buildings _%></td>
            <td><%= displayCompletionRate(locals.completion_buildings_start_date_percentage) -%></td>
            <td><%= displayCompletionRate(locals.completion_buildings_flats_percentage) -%></td>
            <td><%= displayCompletionRate(locals.completion_buildings_heating_percentage) -%></td>
            <td><%= displayCompletionRate(locals.completion_buildings_architect_percentage) -%></td>
            <td><%= displayCompletionRate(locals.completion_buildings_architect_renovation_percentage) -%></td>
            <td><%= displayCompletionRate(locals.completion_buildings_levels_percentage) -%></td>
            <td><%= displayCompletionRate(locals.completion_buildings_roof_levels_percentage) -%></td>
            <td><%= displayCompletionRate(locals.completion_buildings_roof_shape_percentage) -%></td>
        </tr>
  </tbody>
</table>
 <% function displayCompletionRate(rate) { _%>
     <% if (rate === 100) { _%>
       ✅
     <% } else { _%>
         <%= rate _%>%
    <% } _%>
 <% } _%>
